USE [master]
GO
/****** Object:  Database [Nurlan]    Script Date: 24.07.2025 15:59:35 ******/
CREATE DATABASE [Nurlan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nurlan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LOCALSQL\MSSQL\DATA\Nurlan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nurlan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LOCALSQL\MSSQL\DATA\Nurlan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nurlan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nurlan]
GO
/****** Object:  User [Nurlan123]    Script Date: 24.07.2025 15:59:35 ******/
CREATE USER [Nurlan123] FOR LOGIN [Nurlan123] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[AccountingAllTable]    Script Date: 24.07.2025 15:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountingAllTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Income] [int] NOT NULL,
	[Balance] [int] NOT NULL,
	[Expense] [int] NOT NULL,
	[GoalNow] [int] NOT NULL,
	[GoalNeed] [int] NOT NULL,
 CONSTRAINT [PK_AccountingAllTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseTable]    Script Date: 24.07.2025 15:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [char](20) NULL,
	[Sum] [int] NOT NULL,
	[Category] [char](30) NOT NULL,
	[Date] [date] NULL,
	[PaymentMethod] [char](30) NULL,
 CONSTRAINT [PK_ExpenseTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncomeTable]    Script Date: 24.07.2025 15:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncomeTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [char](20) NULL,
	[Sum] [int] NOT NULL,
	[Category] [char](30) NOT NULL,
	[Date] [date] NULL,
	[Source] [char](30) NULL,
 CONSTRAINT [PK_AccountingTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountingAllTable] ADD  CONSTRAINT [DF_AccountingAllTable_GoalNow]  DEFAULT ((0)) FOR [GoalNow]
GO
ALTER TABLE [dbo].[AccountingAllTable] ADD  CONSTRAINT [DF_AccountingAllTable_GoalNeed]  DEFAULT ((0)) FOR [GoalNeed]
GO
USE [master]
GO
